<!-- header.html -->

<header class="header">
    <div class="logo">
        <a href="/"> 
            <img src="../images/logo.png" alt="Logo">
        </a> 
    </div>

    <div class="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav>
        <ul>
            <li><a href="../views/windowCleaning.html">Window Cleaning</a></li>
            <li><a href="../views/christmasLights.html">Christmas Lights</a></li>
            <li><a href="../views/aboutUs.html">About Us</a></li>
            <li><a href="../views/contactUs.html">Contact Us</a></li>
        </ul>
    </nav>
    <button type= "button" class="btn-pulse-phone">801-661-8232</button>
    <script src=".js/main.js/" type="module"></script>
</header>




  