<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Outshine Window Cleaning Pros</title>
</head>

<body>
    <div class="main" id="main-header"></div>

    <main>
        <video autoplay muted loop poster="../images/weston-poster-image.png" id="hero-video">
            <source src="../images/westonsvideo.mp4" type="video/mp4">
        </video>
        <div id="weather-container"></div>       
         <button type= "button" class="btn-pulse-phone">801-661-8232</button>
    </main>
    <footer id="main-footer"></footer>

    <script src="../js/main.js" type="module"></script>
</body>

</html>